In [5]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [3]:
data=pd.read_csv("bank-full.csv",sep=';')
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
data_=data.copy()

In [6]:
data_.iloc[:,-1]=label.fit_transform(data_.iloc[:,-1])

In [7]:
data_

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,1
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,1
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,1
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,0
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,0

In [8]:
data_=data_.drop('contact',axis=1)
data_=data_.drop('day',axis=1)
data_=data_.drop('month',axis=1)
data_=data_.drop('duration',axis=1)
data_=data_.drop('campaign',axis=1)

In [9]:
data_.shape

(45211, 12)

In [10]:
data_=pd.get_dummies(data_.iloc[:,0:12])
data_.head()

,age,balance,pdays,previous,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,...,default_no,default_yes,housing_no,housing_yes,loan_no,loan_yes,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,2143,-1,0,0,0,0,0,0,1,...,1,0,0,1,1,0,0,0,0,1
1,44,29,-1,0,0,0,0,0,0,0,...,1,0,0,1,1,0,0,0,0,1
2,33,2,-1,0,0,0,0,1,0,0,...,1,0,0,1,0,1,0,0,0,1
3,47,1506,-1,0,0,0,1,0,0,0,...,1,0,0,1,1,0,0,0,0,1
4,33,1,-1,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,1

In [11]:
def norm_func(i):
 x=(i-i.min())/(i.max()-i.min())
 return (x)

In [12]:
dataframe=norm_func(data_)

In [13]:
X=dataframe.drop('deposit',axis=1)
Y=dataframe['deposit']

KeyError: "['deposit'] not found in axis"

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=77)

x_train.shape,x_test.shape

NameError: name 'X' is not defined